{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "no-unused-expressions": 0
  }
}
